<!-- <button [disabled]="aloader.state === 'loading'">B1</button>
<button [disabled]="bloader.state === 'error'">B2</button> -->

<app-button></app-button>
<app-button [state]="bloader.getState()"></app-button>
